<header>
 <%= image_tag("Cool Text - Nanpa Picks 320536841211368.png", class: "logo")%>
</header>
<div class="contents">
  <div class="articles">
      <div class="article article-left">
        <%= @articles %>
      </div>
      <div class="article article-middle">
      </div>
      <div class="article article-right">
      </div>
      <div class="article article-left">
      </div>
      <div class="article article-middle">
      </div>
      <div class="article article-right">
      </div>
      <div class="article article-left">
      </div>
      <div class="article article-middle">
      </div>
      <div class="article article-right">
      </div>
  </div>
</div>
<footer>
  Nanpa Picksについて
</footer>
