<%= render partial: 'shared/header'%>

<div class="contents">
  <% @articles.each do |article|%>
    <div class="articles">
      <div class="article">
        <%= link_to article.title, article_path(article)%>
        <%= image_tag(article.src, size: "100x100")%>
      </div>
    </div>
  <% end %>
</div>

<%= render partial: 'shared/footer' %>
