<header class="admin-header">
 <p>管理画面</p>
</header>
<nav class="admin-nav">
  <ul>
    <li class="admin-nav-li">
      <%= link_to "記事一覧", "/admin/articles/index"%>
    </li>
    <li class="admin-nav-li">
      <%= link_to "記事登録", "/admin/articles/new"%>
    </li>
  </ul>
</nav>
<div>

</div>
